@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

button {
	padding: 0;
}

body {
	font-family: 'Noto Sans KR', sans-serif;

	background-color: #EAE8FE;
	font-size: 62.5%;
}

.sr_out {
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.container {
	display: flex;
	position: relative;
	/* flex-direction: column; */
	/* flex-direction: row; */
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	box-sizing: border-box;
	flex-wrap: wrap;

}

.img_title {
	/* position: absolute; */
	/* align-self:stretch; */
	display: block;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 386px;
	height: 164px;
	flex-grow: 1;
}

.japangi {
	flex-shrink: 0;
	/* background-color:aqua; */
}

.japangi_left {
	/* position: relative; */
	margin: 0 18px;

	padding: 31px 27px;
	box-sizing: border-box;
	width: 360px;
	height: 545px;
	background-color: #fff;
	overflow: hidden;
}

.japangi_right {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
	box-sizing: border-box;
	background-color: #fff;
	width: 360px;
	height: 545px;
	display: block;
	background-color: #EAE8FE;
	/* background-color: yellow; */
	overflow: hidden;
	position: relative;
}

.japangi_deposit {
	border: 1px solid #fff;
	right: 0;
	background-color: #fff;
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
	line-height: 32px;
	padding: 9px 27px;
	box-sizing: border-box;

}
.txt_deposit {
	font-size: 1.4em;
	width: 306px;
	height: 32px;
	background-color: #EAE8FE;
	border-radius: 5px;
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}

.deposit {
	float: right;
}

.deposit::after {
	content: "원";
	display: inline-block;
	/* margin: 0 5px; */
}

.get_drink_section {
	box-sizing: border-box;
	width: 100%;
	height: 465px;
	margin: 0 auto;
	padding: 41px 20px;
	overflow: hidden;
	background-color: #fff;
}

.get_drink {
	background-color: #EAE8FE;
	margin: 0 auto;
	padding: 12px;
	border-radius: 5px;
	vertical-align: middle;
	overflow: scroll;
	overflow-x: hidden;
	height: 318px;
	box-sizing: border-box;
}


.get_drink li + li {
	margin-top: 5px;
}

h2 {
	width: 76px;
	margin: 10px auto;
	font-weight: 700;
	font-size: 1.4em;

}

.get_drink_list {
	padding: 5px;
	box-sizing: border-box;
	margin: 0 auto;
	height: 46px;
	background-color: #fff;
}

.btn_get_drink_count {
	margin-top: 2px;
	float: right;
	box-sizing: border-box;
	line-height: 100%;
	width: 30px;
	height: 30px;
	/* left: 238px; */
	border: 1px solid #BDBDBD;
	border-radius: 5px;
	background-color: #fff;
	font-size: 1.4em;
	font-family: 'Noto Sans KR', sans-serif;

}

.get_drink_fig {
	float: left;
}

.get_drink_img {
	width: 20px;
	height: 100%;
	vertical-align: middle;
}


.get_drink_pay {
	float: right;
	padding: 10px 0;
	font-size: 1.2em;
}

/* left */
.list_drink {
	/* position: absolute; */
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 130px;
	gap: 12px;
	margin-bottom: 20px;
}

.drink {
	position: relative;
	text-align: center;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid #cdcaca;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}



.drink_img {
margin-top: 10px;
margin-bottom: 1px;
}

.drink_name {
	font-size: 0.9em;
	line-height: 13px;
	margin-bottom: 1px;
}

.price {
	display: block;
	margin: 4px auto;
	padding: 5px 15px;
	text-align: center;
	box-sizing: border-box;
	width: 70px;
	height: 22px;
	border-radius: 50px;
	background-color: #6327FE;
	color: #fff;
	font-size: 1.2em;
}

.price::after {
	content: "원";
	color: #fff;
}

.calc {
	/* position: absolute; */
	left: 0;
	top: 310px;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: repeat(2, 1fr) 3fr;
	gap: 12px;
	overflow: hidden;
	height: 40%;
	box-sizing: border-box;
}

.calc_show_change {
	/* width: 200px; */
	/* height: 33px; */
	background: #EAE8FE;
	line-height: 33px;
	text-align: right;
	font-size: 1.4em;

}

.calc_show_change::before {
	content: "잔액 :";
	float: left;
	margin-left: 10px;
}

.calc_show_change::after {
	/* position: absolute; */
	content: "원";
	float: right;
	margin-right: 10px;
}





.calc_button_chage {
	background-color: #fff;
	/* width: 94px; */
	/* height: 33px; */
}

.calc_input_money {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.2em;


	/* width: 200px; */
	/* height: 33px; */
}
.calc_input_money::placeholder {
	content: "입금액 입력";
	/* display: block; */
	color: #cdcaca;
	/* margin-left: 10px; */
	
}

.btn_get {
	border: none;
	background-color: #6327FE;
	color: #fff;
}

.btn {
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
	font-size: 1.3em;
	font-family: 'Noto Sans KR', sans-serif;

}

.bottom_list_drink {
	position: relative;
	box-sizing: border-box;
	padding: 20px;
	background-color: #EAE8FE;
	overflow: scroll;
	overflow-x: hidden;
}



.calc_show_change, .calc_input_money, .btn, .get_drink  {
	border-radius: 6px;
}


/* 클래스로 바꾸기 */
figcaption {
	display: inline;
	font-size: 9px;
}


.btn, .calc_input_money {
	border: 1px solid #cdcaca;
}

.calc_get_drink {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.calc_get_drink li {
	width: 170px;
}